body{
    margin:0;
    font-family:Arial, sans-serif;
}

/* Header */
.header{
    text-align:center;
    background-color:blue;
    color:white;
    padding:10px;
}

/* Sliders */
.slider,
.slider2{
    width:100%;
    overflow:hidden;
}

.slider{
    height:250px;
}

.slider2{
    height:200px;
    margin-top:20px;
}

/* Slides */
.content,
.content2{
    display:flex;
    width:300%;
    gap:20px;
    animation: slide 8s infinite;
}

.content img{
    width:100%;
    height:250px;
}

.content2 img{
    width:100%;
    height:200px;
}

/* Animation */
@keyframes slide{
    0%{
        margin-left:0%;
    }
    50%{
        margin-left:-100%;
    }
    100%{
        margin-left:-200%;
    }
}
/* body{
    margin:0;
    font-family:Arial, sans-serif;
}
.header{
    background-color: blue;
    padding:5px;
    color:white;
    text-align: center;
}

.content img{
    width:100%;
    height:250px;
}

.content2 img{
    width:100%;
    height:200px;
}

.slider, .slider2 {
    width:100%;
    overflow: hidden;
}

.slider{
    height:250px;
}

.slider2{
    height:200px;
    margin-top:20px;
}

.content, .content2{
    display:flex;
    width:300%;
    gap:20px;
    animation: slide 8s infinite;
}


@keyframes slide {
    0% {
        margin-left:0%;
    }

    50% {
        margin-left: 100%;
    }

    100% {
        margin-left: 200%;
    }
} */