.image img{
    width:100%;
    height:40vh;
    margin-bottom: 20px;
    object-fit: cover;
}

.image{
    display: flex;
    background-color: blue;
    padding:10px;
    flex-direction: column;
    padding-bottom: 5px;
    justify-content: center;
    color:white;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.image a{
    color:white;
    text-decoration: none;
    font-size: 1rem;
}

.links{
    display:flex;
    justify-content: space-evenly;
}

.m{
    background-color: white;
    float:left;
}

.m img{
    float:right;
    margin:5px;
}


.m p{
    text-align: justify;
}

.foot{
    display: flex;
    flex-direction: column;
    background-color:rgb(24, 23, 23);
    padding:5px;
    margin:10px;
    color:white;
    justify-content: center;
    align-items: center;
}