* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background: #232f3e;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
}

.logo {
  width: 100px;
}

.nav-location {
  display: flex;
  gap: 5px;
}

.location{
  height: 25px;
  weight: 25px;
  object-fit: contain;
}

.search{
  background-color: #ddd9d9;;
}

.search-button{
  height: 25px;
  weight: 25px;
  object-fit: contain;
}

.small {
  font-size: 12px;
  color: #ccc;
  display: block;
}

.big {
  font-size: 14px;
  font-weight: bold;
}

.nav-search {
  display: flex;
  flex: 1;
}

.nav-search select,
.nav-search input {
  padding: 7px;
  border: none;
}

.nav-search input {
  width: 100%;
}

.nav-search button {
  background: #febd69;
  border: none;
  padding: 7px 10px;
}

.nav-item {
  cursor: pointer;
}

.nav-cart {
  font-weight: bold;
}

.cart{
  height: 25px;
  weight: 25px;
  object-fit: contain;
}

/* CATEGORY BAR */
.category-bar {
  background: #232f3e;
  padding: 8px 15px;
}

.category-bar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

/* HERO */
.hero img {
  width: 100%;
  height: 300;
  object-fit: cover;
}

/* MAIN */
.main {
  background: #e3e6e6;
  padding: 20px;
}

/* CATEGORIES */
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: -150px ;
  padding: 0 20px;

}

.category-card {
  background: white;
  padding: 15px;
}

.category-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 10px 0;
}

.category-card a {
  color: #007185;
  text-decoration: none;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.product-card {
  background: white;
  padding: 15px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.product-card span {
  color: #b12704;
  font-weight: bold;
}

/* ================= SIGN IN PROMPT ================= */
.signin-section {
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
}

.signin-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.signin-btn {
  background: #ffce12;
  border: 1px solid;
  border-radius: 18px;
  padding: 6px 90px;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 10px;
}

.signin-btn:hover {
  background:  #f7c914;
}

.new-customer {
  font-size: 12px;
}

.new-customer a {
  color: #007185;
  text-decoration: none;
}

/* FOOTER */
.footer {
  background: #131921;
  color: white;
  margin-top: 30px;
}

.footer-top {
  background: #232f3e;
  text-align: center;
  padding: 10px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links a {
  display: block;
  color: #ddd;
  font-size: 14px;
  margin-bottom: 5px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  font-size: 14px;
}