.p1 {
    height: 250px;
    width: 225px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
  }
  
  .p1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  .text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 7px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .text2 {
    font-size: 12px;
    color: #555;
    margin: 5px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .grid {
    display: grid;
    /* grid-template-columns: repeat(autofill, minmax(1024px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100px;
  }
  
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }